/* Custom Stylesheet */


/* Schrijf hier je aanpassingen die specifiek voor MIN zijn
en die bovenop materialize komen */

body {
    background: #d0e9f1;
    color: darkblue;
    line-height: 1.5;
    font-family: 'Armata', sans-serif;
    font-size: 16px;
}

.footer {
    background-color: #0967C4;
    padding-top: 50px;
    color: white;
    text-align: center;
}

footer .row {
    padding-left: 30px;
    padding-right: 30px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.titel {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titel img {
    height: 150px;
}

nav ul {
    padding-right: 20px;
}

.talen {
    background: linear-gradient(104deg, rgb(46, 35, 229) 0%, rgba(48, 125, 255, 1) 100%);
    padding: 50px;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px #888888;
}

.talen ul li {
    padding: 10px;
    transition: 1s;
    border-radius: 10px;
}

.talen ul li a {
    color: white;
}

.talen ul li a span {
    text-decoration: none;
}

.talen ul li:hover {
    padding-left: 15px;
    background-color: darkblue;
}

.talen ul li a span:hover {
    text-decoration: underline;
}

.background {
    height: 100vh;
}



.txt p {
    color: black;
    padding: 20px;
}

.onder {
    padding-bottom: 40px;
}

.container .para {
    transition: 1s;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    /*background: linear-gradient(104deg, #a7e0f3 0%, #d0e9f1 100%);*/
}

.container .para:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 3px 3px #cdcdcd;
}

.linkenfoot div {
    padding-top: 20px !important;
}

.totop {
    position: fixed;
    top: 80%;
    left: 80%;
    width: 60px;
    z-index: 100;
}

.taalfoot li a {
    display: block;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 1s;
}

.taalfoot li a:hover {
    color: #0967C4;
    background-color: white;
}

.container .para p {
    padding: 30px
}

li {
    color: black;
}

.container {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    margin-bottom: 0;
}

nav li ul {
    padding: 0;
    width: 110px !important;
}

nav li ul li a {
    color: #0967C4 !important;
}

iframe {
    width: 100%;
    height: 100%;
}

h4 {
    font-size: 20px;
    margin: 2px;
}

.maps iframe {
    margin-top: 20px;
}

#logo {
    height: 64px;
    background-color: white;
}

.footer-copyright {
    background-color: white;
    color: black;
}

h1 {
    font-size: 35px;
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0967C4
}

#opening {
    margin-bottom: 10px;
    padding-top: 30px;
}


.bckgrnd{
      background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}
#homebg {
    background-image: url(../img/actie_min_brood.jpg);
}
#opisopbg{
      background-image: url(../img/actie_MIN_bloemen.jpg); 
}
#activiteitenbg{
       background-image: url(../img/actie_MIN_conserven.jpg); 
}
#historiekbg{
     background-image: url(../img/actie_MIN_fruit.jpg); 
}
#donerenbg{
         background-image: url(../img/actie_MIN_groenten.jpg); 
}
#armoedebeleidbg{
      background-image: url(../img/actie_MIN_tomaat.jpg); 
}
#sponsorsbg{
         background-image: url(../img/actie_MIN_yoghurt.jpg); 
}


h4 {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.hulp {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#knop h4 a {
    padding: 10px;
    background-color: #0967C4;
    color: white;
    font-size: 14px;
}

.effect {
    transition: 1s;
}

.effect:hover {
    transform: scale(1.1);
}

footer p {
    padding: 10px;
    font-size: 12px;
}

footer p a {
    color: white;
    text-decoration: underline;
}

.footer-copyright p a {
    color: black;
}

.footer-copyright p a:hover {
    text-decoration: none;
}

.figuur:hover {

    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
    transform: scale(1.1);

}

.figuur {
    transition: 2s;
    padding: 20px 10px;
}

.logofoto {
    max-width: 100%;
    height: 100px;
}

h3 {
    font-size: 25px;
}

.list {
    margin-left: 50px;
}

figure figcaption {
    color: black;
    padding-bottom: 20px;
}

#naarboven {
    float: right;
    position: relative;
}

.ccakleur {
    background-color: #0967C4;
}
#opisop{
    padding-top: 40px;


@media screen and (min-width: 600px) {
    #knop h4 a {
        padding: 15px;
        background-color: #0967C4;
        color: white;
        font-size: 20px;
    }
}

.video {
    margin-left: 50px;
    margin-right: 50px;
}